.products-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    padding: 1rem;
}

/* Tarjeta de producto */
.product-card {
    background-color: #808080;
    border-radius: 12px;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.product-info {
    padding: 1rem;
    text-align: center;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.product-title {
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
    color: #111;
    font-weight: 600;
}

.precio-container {
    background-color: #f0f0f0;
    padding: 8px;
    border-radius: 8px;
    margin: 10px 0;
}

.product-price {
    font-size: 24px;
    font-weight: bold;
    color: #2c3e50;
    margin: 0;
}

.product-colors {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin: 10px 0;
}

.color-dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #ccc;
    cursor: pointer;
    transition: transform 0.2s;
}

.color-dot:hover {
    transform: scale(1.2);
}

.product-sizes {
    font-size: 0.9rem;
    color: #111;
    margin: 10px 0;
}

.add-to-cart {
    background-color: #5d056e;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: auto;
    transition: background 0.3s;
}

.add-to-cart:hover {
    background-color: #5d056e;
}

@media (max-width: 900px) {
    .products-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .products-grid {
        grid-template-columns: 1fr;
    }
}